<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css"> <!-- Optional CSS file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script> -->
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="../views/home.html">
                <img src="../resources/img/Headshot2.JPG" alt="My Picture" class="profile-img" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../views/hobbies.html">Hobbies</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/projects.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/resume.html">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <div class="d-flex justify-content-center gap-3 mt-4">
            <div class="card" style="max-width: 18rem;">
                <div class="card-body">
                    <img class="card-img"
                        src="https://t4.ftcdn.net/jpg/02/57/33/93/240_F_257339302_LWVM6ZkukZUoVVo8CY0UHx5y283PG9RR.jpg"
                        alt="piano">
                    <h5 class="card-title">Piano</h5>
                    <p class="card-text">I started playing at age 6, taking lessons from a family member. By age 16 I
                        started playing on my own. </p>
                </div>
            </div>
            <div class="card" style="max-width: 18rem;">
                <div class="card-body">
                    <img class="card-img"
                        src="https://t3.ftcdn.net/jpg/03/60/88/20/240_F_360882049_b5vv6Lodu4ZBJzkd7FyP6anChrYIDlue.jpg"
                        alt="Embroidery">
                    <h5 class="card-title">Embroidery</h5>
                    <p class="card-text">I started in 2022 with small projects like hankerchiefs and gradually moved to
                        more intricate designs. </p>
                </div>
            </div>
            <div class="card" style="max-width: 18rem;">
                <div class="card-body">
                    <img class="card-img"
                        src="https://t3.ftcdn.net/jpg/01/90/57/06/240_F_190570691_0Mexoj7YkSt6VIIzznLKDCIY0gBSuSpk.jpg"
                        alt="Reading">
                    <h5 class="card-title">Reading</h5>
                    <p class="card-text">I have always had a passion for reading and immersing myself in different
                        worlds through the words on a page. </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Connect with me:</p>
        <a href="https://www.linkedin.com/in/neha-ramachandra-0126162aa/" target="_blank"><i
                class="fab fa-linkedin"></i> LinkedIn</a>
    </footer>
</body>

</html>