<main>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <div class="card card1" style="max-width: 18rem;">
            <div class="card-body">
                <img class="card-img"
                    src="https://t4.ftcdn.net/jpg/02/57/33/93/240_F_257339302_LWVM6ZkukZUoVVo8CY0UHx5y283PG9RR.jpg"
                    alt="piano">
                <h5 class="card-title">Piano</h5>
                <p class="card-text">I started playing at age 6, taking lessons from a family member. By age 16 I
                    started playing on my own. </p>
            </div>
        </div>
        <div class="card card2" style="max-width: 18rem;">
            <div class="card-body">
                <img class="card-img"
                    src="https://t3.ftcdn.net/jpg/03/60/88/20/240_F_360882049_b5vv6Lodu4ZBJzkd7FyP6anChrYIDlue.jpg"
                    alt="Embroidery">
                <h5 class="card-title">Embroidery</h5>
                <p class="card-text">I started in 2022 with small projects like hankerchiefs and gradually moved to
                    more intricate designs. </p>
            </div>
        </div>
        <div class="card card3" style="max-width: 18rem;">
            <div class="card-body">
                <img class="card-img"
                    src="https://t3.ftcdn.net/jpg/01/90/57/06/240_F_190570691_0Mexoj7YkSt6VIIzznLKDCIY0gBSuSpk.jpg"
                    alt="Reading">
                <h5 class="card-title">Reading</h5>
                <p class="card-text">I have always had a passion for reading and immersing myself in different
                    worlds through the words on a page. </p>
            </div>
        </div>
    </div>
</main>