<main>
    <section class="profile">
        <div class="container-profile">
            <div class="headshot">
                <img src="/img/Headshot2.JPG" alt="My Picture" class="profile-img">
            </div>
            <div class="description">
                <h5>Hi, I'm Neha Ramachandra. I am a driven Computer Science undergraduate at the University of
                    Colorado Boulder with a minor in Data Science and a strong foundation in full-stack development,
                    data analysis, and systems programming. Experienced in building and deploying scalable
                    applications using Node.js, PostgreSQL, Docker, and third-party APIs. Skilled in developing
                    machine learning models to uncover trends and power user-focused solutions. Eager to contribute
                    as a software engineering intern through impactful, team-driven projects.
                </h5>
                <button type="button"><a href="/resume" class="text-white text-decoration-none">View My
                        Resume</a></button>
            </div>
        </div>
    </section>
</main>