<main>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <div class="card" style="width: 18rem;">
            <img src="https://thebohemianrockstarpresents.wordpress.com/wp-content/uploads/2013/03/odyssey_game_shot_3.jpg"
                class="card-img-top" alt="The Odyssey Adventure">
            <div class="card-body">
                <h5 class="card-title">The Odyssey (Text-Based Adventure Game)</h5>
                <p class="card-text">Utilizing classes and object-oriented programming principles, created a
                    multiplayer
                    text adventure game with elements including combat, treasures, and stats that vary throughout
                    the
                    game. <strong>C++</strong></p>
                <a href="https://github.com/nehabykadi/OdysseyRPG.git" class="btn btn-light">Github</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/moviemate.png" class="card-img-top" alt="MovieMate"
                style="background-color: rgb(44, 34, 51);">
            <div class="card-body">
                <h5 class="card-title">MovieMate</h5>
                <p class="card-text">Worked with a team to develop a movie centered social media app that allows
                    users to follow others,
                    chat, and post about their favorite movies. We integrated OMDb and YouTube Data APIs for
                    intelligent movie discovery,
                    search filtering, trailers, and watchlists. Ultimately, deployed the website using Render.
                    <strong>Node.js, Express.js, Handlebars, Bootstrap, PostgreSQL, Docker, Render</strong>
                </p>
                <a href="https://github.com/nehabykadi/MovieMate.git" class="btn btn-light">Github</a>
                <a href="https://csci3308-moviemate.onrender.com/" class="btn btn-light">Webpage</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1186323725/photo/strategy-to-win-in-ice-hockey.jpg?s=612x612&w=0&k=20&c=YuAxDdRJuIAua9gQ-BAAMS1lY-jd94laIlKZn2gKYmE="
                class="card-img-top" alt="Hockey">
            <div class="card-body">
                <h5 class="card-title">Website for a Non-Profit</h5>
                <p class="card-text">I used HTML, CSS and minimal JavaScript to create an interactive, organized
                    website for
                    a non-profit that helps children play hockey. <strong>HTML, CSS, JavaScript</strong></p>
                <a href="https://github.com/nehabykadi/Tims-Kids.git" class="btn btn-light">Github</a>
            </div>
        </div>
    </div>
</main>