<main>
    <section class="resume">
        <div class="container">
            <div class="download">
                <a href="../resources/img/Neha_Ramachandra.pdf" target="_blank" download="Neha_Ramachandra.pdf"
                    class="text-white text-decoration-none">
                    <button>Download PDF</button>
                </a>
            </div>
            <div class="header">
                <h2>Neha Ramachandra</h2>
            </div>
            <div class="menu">
                <h3>Technical Skills</h3>
                <h6>Microsoft Office Suite</h6>
                <p>Excel - Word - Powerpoint</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:95%"></div>
                </div>
                <h6>C++</h6>
                <p>Object Oriented Programming - Data Structures</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:85%"></div>
                </div>
                <h6>Python</h6>
                <p>Data Science ~ Information Science ~ Statistics</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:70%"></div>
                </div>
                <h6>HTML</h6>
                <p>HTML5 - Markdown</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:80%"></div>
                </div>
                <h6>CSS</h6>
                <p>Bootstrap - Stylus</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:80%"></div>
                </div>
                <h6>DevOps</h6>
                <p>Docker - Shell - RegEx</p>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:80%"></div>
                </div>
                <h6>SQL</h6>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:50%"></div>
                </div>
                <h6>R</h6>
                <div class="light-grey round">
                    <div class="bar-container round bar-color" style="width:40%"></div>
                </div>
            </div>

            <div class="content">
                <h3>Education</h3>
                <h6>University of Colorado at Boulder, School of Arts and Sciences - Expected Graduation May
                    2027<br>
                    B.S. in Computer Science…. Boulder, CO<br>
                    Minor in Data Science<br>
                    • GPA 3.9 | Deans list 2023-present<br>
                    • CU Esteemed Scholars-Sewall Scholarship<br>
                    • Relevant Coursework: Ethics in Information Technology, Computer Systems, Software
                    Development<br>
                    and Methods, Linear Algebra, Programming for Information Science<br>
                </h6>
            </div>
            <div class="content2">
                <h3>Experience</h3>
                <h6>University of Colorado Boulder December 2024 to Present<br>
                    Data Structures Course Assistant Boulder, CO<br>
                    • Assisted with delivering lectures, answered student questions, and provided support with
                    coding assignments focused on data structures and algorithms. <br>
                    • Managed the course’s GitHub repository for distributing assignments and grading. <br>
                    • Helped create and maintain coding exercises in C++ to reinforce students' learning. <br>
                </h6>
                <hr>
                <h6>The Home Depot June 2023 to Present <br>
                    Front-End Associate Highlands Ranch, CO<br>
                    • Provided excellent customer service and kept accurate store stock and inventory information.
                    <br>
                </h6>
            </div>
            <div class="content3">
                <h3>Leadership Activities</h3>
                <h6>
                    Phi Sigma Rho January 2025 to Present <br>
                    Active Member Boulder, CO<br>
                    • Vice President of Finance<br>
                    <tab>o Budgeted the chapter’s finances, recorded all expenses, and filed taxes on behalf of the
                        organization. Predicted and calculated costs for events and new members.</tab><br>
                    <tab>o Developed contracts and payment plans with members requiring it and allocated scholarship
                        funds.</tab><br>
                    • Director of Scholarship<br>
                    <tab>o Ensured all members achieved the minimum GPA requirement and computed plans for those on
                        academic probation.</tab><br>
                    • Sergeant of Arms<br>
                    <tab>o Attended Standards Board meetings and offered input as directed to solve problems
                        presented.
                        Focused attention on presenters during chapter meetings.<br>
                        • Director of New Member Education</tab><br>
                    <tab>o Facilitated meetings to teach new members the knowledge required to become an active
                        member
                        and guided members through planning and executing a scholarship and philanthropy event.
                    </tab><br>

                </h6>
            </div>
        </div>
    </section>
</main>